@keyframes caret {
  50% { background-color: transparent; }
}

.animate {
  animation: caret 1s step-end infinite;
}


@keyframes slideFromAbove {
  from {
    top: -50%;
  }

  to {
    top: 0%;
  }
}

@keyframes slideFromBelow {
  from {
    top: 100%;
  }

  to {
    top: 50%;
  }
}