@keyframes caret {
  50% { background-color: transparent; }
}

.animate {
  animation: caret 1s step-end infinite;
}


@keyframes slideFromAbove {
  from {
    top: -50%;
    opacity: 0;
  }

  to {
    top: 0%;
    opacity: 1;
  }
}

@keyframes slideFromBelow {
  from {
    top: 100%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    left: -50%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}