.name {
  grid-area: landing;

  font-family: Monaco, monospace;
  font-size: $name_font_size;

  display: flex;
  justify-content: center;
  flex-flow: column;

  position: relative;

  &__typed {
    @include typed;
    top: 15%;
  }

  & > * {
    margin: 0;
  }

  &__gt {
    font-size: 220%;
    font-weight: bold;
    margin-right: 1rem; 
  }

  &__cursor {
    background-color: rgba($color-primary, .8);
    width: $name_font_size;
    height: $name_font_size * 1.7;
    margin-left: .3rem;
    opacity: .8; 

    @include tablet {
      width: $cursor-size-tb;
      height: $cursor-size-tb * 1.7;
    }

    @include mobile-bg {
      width: $cursor-size-mb;
      height: $cursor-size-mb * 1.5;
    }
  }

  &__text {
    display: none;
    font-size: 70%;
    position: absolute;

    @include tablet {
      font-size: 50%;
    }

    @include mobile-bg {
      font-size: 40%;
    }
    
    &--1 {
      display: block;
      top: 35%;
    }
    
    &--2 {
      display: block;
      top: 45%;
    }

    &--3 {
      display: block;
      top: 55%;
    }
  }
}

.hide {
  display: none;
}

.positionClass {
  top: 65%;
}
