.projects {

  grid-area: projects;
  
  position: relative;

  &__heading {
   margin-top: 2rem;
   color: $color-secondary;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }

  &__card {
    background-color: $color-primary;
    min-width: 25rem;
    border: 1px solid $color-primary;
    height: auto;
    overflow: hidden;
    transition: transform .2s;
    position: relative;

    &:hover {
      transform: scale(1.1);
      z-index: 2;

      & .projects__image {
        z-index: -3;
      }

      & .projects__info {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
        background-color: white;
        opacity: .95;
        z-index: 3;
      }

      & .projects__info__top, & .projects__info__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      & .projects__info__top {
        flex-flow: column;
        animation: slideFromAbove .5s forwards;
      }

      & .projects__info__bottom {
        animation: slideFromBelow .5s forwards;
      }
    }
  }

  &__image {
    border-radius: 1rem;
  }

  &__title {
    color: $color-secondary;
    opacity: .9;
    font-size: 250%;
    margin: 0 .5rem;
    text-align: center;
  }

  &__skills {
    text-align: center;
    color: $color-primary;
    font-size: 130%;
    margin: 0;

    .skill:not(:last-child) {
      margin: 0 .8rem;
    }

    .separator {
      font-size: 140%;
      font-weight: bold;
      color: black;
    }

  }

  &__info {
    position: absolute;
    display: none;
    left: 0;
    top: 0;

    &__top, &__bottom {
      height: 50%;
      width: 100%;
      position: absolute;
      display: none;
    }

    &__button {
      border: 1px solid $color-primary;
      outline: none;
      color: $color-primary;
      font-size: 170%;
      cursor: pointer;
      padding: .5rem 2rem;
      opacity: 1;
      border-radius: 1rem;
      transition: background-color .2s;

      &:hover, &:focus {
        background-color: $color-primary;
        color: white;
      }
    }
  }

  &__hide {
    display: none;
  }
}

.modal__imageContainer {
  width: 45rem;
  height: 45rem;
  border-radius: 1rem;
  overflow: hidden;
  border: .5rem solid $color-primary;

  @include mobile-sm {
    width: 30rem;
    height: 30rem;
  }
}

.modal__image {
  width: 100%;
  height: 100%;
}

.ReactModal__Content {
  display: grid;
  grid-template-rows: minmax(auto, 4fr) 1fr 1fr 3fr 1fr;
  justify-items: center;
  padding: 0;
  background-color: $background;
  color: $color-primary;
  padding: 1rem;
  font-size: 2rem;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}


.modal {

  &__titleContainer {
    display: block;
    text-align: center;
    width: 100%;
    align-self: center;
  }

  &__title {
    font-size: 120%;
    align-self: flex-start;
    color: $color-secondary;

    @include tablet {
      font-size: 100%;
    }

    @include mobile-bg {
      font-size: 80%;
    }

    @include mobile-sm {
      font-size: 70%;
    }
  }

  &__skillContainer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  &__skill {
    align-self: center;
    font-size: 50%;
    font-style: italic;
    letter-spacing: .1em;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__description {
    font-size: 80%;
    text-align: center;
    text-rendering: optimizeLegibility;
    margin-bottom: 1rem;
    align-self: center;

    @include tablet {
      font-size: 70%;
    }

    @include mobile-bg {
      font-size: 60%;
    }

    @include mobile-sm {
      font-size: 50%;
    }

    a {
      @include textLinks;
    }
  }

  &__linkContainer {
    display: flex;
  }

  &__link, &__link:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-primary;
    outline: none;
    text-decoration: none;
    padding: .5rem .8rem;
    border-radius: 1rem;
    transition: background-color .2s;
    text-decoration: none;
    font-size: 60%;
    align-self: center;

    @include mobile-sm {
    }

    & svg {
      margin-right: .5rem;
    }

    &:first-child {
      background: $color-primary;
      color: white;

      &:hover {
        color: $color-primary;
        background: white;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link:hover, &__link:focus {
    background-color: $color-primary;
    color: white;
  }

  &__close {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    font-size: 2.5rem;
    maring: 0;
    padding: 0;
    position: absolute;
    right: 1.5rem;
    bottom: 5px;
    fill: $color-primary;

    &:hover, &:active {
      color: purple;
    }
  }
}