.projects {
  
  &__heading {
    display: flex;
    flex-flow: column;
    align-items: center;

    h2 {
      text-align: center;
      font-size: 4rem;
      position: relative;
      margin-top: .5rem;
      margin-bottom: 1rem;
    }
    .underline {
      width: 50%;
      height: 2px;
      background-color: $color-primary;
      opacity: .6;
      margin-bottom: 5rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }

  &__card {
    background-color: $color-primary;
    min-width: 25rem;
    border: 1px solid $color-primary;
    height: auto;
    overflow: hidden;
    transition: transform .2s;
    position: relative;

    &:hover {
      transform: scale(1.1);
      z-index: 2;

      & .projects__image {
        z-index: -3;
      }

      & .projects__info {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
        background-color: white;
        opacity: .9;
        z-index: 3;
      }

      & .projects__info__top, & .projects__info__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      & .projects__info__top {
        flex-flow: column;
        animation: slideFromAbove .5s forwards;
      }

      & .projects__info__bottom {
        animation: slideFromBelow .5s forwards;
      }
    }
  }

  &__image {
    border-radius: 1rem;
  }

  &__title {
    color: black;
    opacity: .9;
    font-size: 250%;
    margin: 0 .5rem;
    text-align: center;
  }

  &__skills {
    text-align: center;
    color: $color-primary;
    font-size: 130%;
    margin: 0;

    .skill:not(:last-child) {
      margin: 0 .8rem;
    }

    .separator {
      font-size: 140%;
      font-weight: bold;
    }

  }

  &__info {
    position: absolute;
    display: none;
    left: 0;
    top: 0;

    &__top, &__bottom {
      height: 50%;
      width: 100%;
      position: absolute;
      display: none;
    }

    &__button {
      border: 1px solid $color-primary;
      outline: none;
      color: $color-primary;
      font-size: 170%;
      cursor: pointer;
      padding: 1rem 2rem;
      opacity: 1;
      border-radius: 1rem;
      transition: background-color .2s;

      &:hover, &:focus {
        background-color: $color-primary;
        color: white;
      }
    }
  }

  &__modal {
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    z-index: 10;
  }
}