$color-primary: purple;
// $color-secondary: #747fe0;
$color-secondary: #282c32;
// $color-secondary: rgb(94,80,134);

$color-tertiary: rgba($color-secondary, .7);

$background: #f6f9fc;
$color-link: rgba(purple, 1);

$red: #f96256;
$yellow: #fdbc3d;
$green: #33c948;

$terminal_header: #e4e3e5;
$terminal_body: #5a5d7a;
$terminal_link: #35feff;

$return_color: #e7d184;

// Layout

$navbar_height: 8rem;
$name_font_size: 3.5rem;

$cursor-size-bg: 3.5rem;
$cursor-size-tb: 3rem;
$cursor-size-mb: 2.5rem;