$color-primary: purple;
$background: #f6f9fc;
$color-link: rgba(purple, .8);

$red: #f96256;
$yellow: #fdbc3d;
$green: #33c948;

$terminal_header: #e4e3e5;
$terminal_body: #5a5d7a;
$terminal_link: #35feff;

$return_color: #e7d184;

// Layout

$navbar_height: 5rem;
$name_font_size: 3.5rem;